/* Загальні */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --active-button-color: #188ce8;
  --border-color-portf: #eeeeee;
  --headre-border-color: #ececec;
  --nav-address-color: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
}

p,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  line-height: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  border: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

address {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* хедер */
.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-header-formatting {
  margin-right: 93px;
}

.logo-header {
  color: black;
}

.nav-link,
.auth-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;

  transition-property: color;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-li:not(:last-of-type) {
  margin-right: 50px;
}

.auth-nav {
  color: var(--primary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  margin-right: 10px;
  fill: currentColor;

  transition-property: fill;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-li:not(:first-of-type) {
  margin-left: 50px;
}

.icon:hover,
.icon:focus,
.nav-link:hover,
.auth-nav:hover,
.auth-nav-footer:hover,
.nav-link:focus,
.auth-nav-footer:focus,
.auth-nav:focus,
.address:hover,
.address:focus
{
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav-li{
  position: relative;
}

.current::after{
  content:"";
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 2px;
}

.header-line {
  border-bottom: 1px solid var(--headre-border-color);
}

/* мейн */

.hero-section {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-color: var(--background-color-dark);
  max-width: 1600px;
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

.hero-div {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px auto;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  width: 216px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-family: inherit;
  display: inline-block;

  transition-property: background;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: var(--active-button-color);
}

/* modal */

.backdrop{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #0000001A;
}

.is-hidden{
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal-box {
  transform: translate(-50%, -50%) scale(0,5);
}

.crosses-icon{
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

/* benefits */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-icons {
  display: flex;
  background-color: var(--background-color-light);
  align-items: center;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.benefits-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits-size {
  width: 270px;
}

.benefits-li:not(:last-of-type) {
  margin-right: 30px;
}

.benefits-flex {
  padding-top: 94px;
}

/* our occupations */

.occupation-description{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.occupation-description h3{
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
}

/* team */

.team-section {
  background-color: var(--background-color-light);
}

.seaction-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-formatting-mane {
  margin-bottom: 30px;
}

.team-formatting-scnd {
  margin-bottom: 10px;
}

.team-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}

.team-icons li:not(:last-of-type) {
  margin-right: 10px;
}

.active-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50px;
  cursor: pointer;
  fill: var(--icon-color);


  transition-property: fill;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sm-area:hover,
.footer-sm-area:focus,
.active-circle:hover,
.active-circle:focus {
  fill: var(--primary-white-color);
  background-color: var(--accent-color);
}

.mates-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.mates-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
  padding-bottom: 30px;
}

.team-formatting:not(:last-child) {
  margin-right: 30px;
}

/* clients */

.clients-area {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  padding: 16px 32px;
  fill: var(--icon-color);

  transition-property: fill;
  transition-property: border;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-area:hover,
.clients-area:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* footer */

.page-footer {
  background-color: var(--background-color-dark);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-bt-formattig {
  margin-bottom: 20px;
}

.logo-footer {
  color: var(--primary-white-color);
}

.address {
  color: var(--primary-white-color);
  letter-spacing: inherit;

  transition-property: color;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav-footer {
  color: var(--nav-address-color);
  letter-spacing: inherit;
}

.adress-formatting:not(:last-child) {
  margin-bottom: 9px;
}

.socmedia-tittle {
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-sm-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 50px;
  cursor: pointer;
  fill: var(--primary-white-color);

  transition-property: background;
  transition-property: fill;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-formatting {
  margin-left: 70px;
  margin-top: 12px;
}

/* portfolio */

.button-portf {
  color: var(--title-text-color);
  background: var(--background-color-light);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  padding: 6px 22px;
  cursor: pointer;

  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.08),
  0px 0px 0px rgba(0, 0, 0, 0.12);

  transition-property: box-shadow;
  transition-property: color;
  transition-duration:  250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item-box {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color-portf);
  border-right: 1px solid var(--border-color-portf);
  border-bottom: 1px solid var(--border-color-portf);
}

.item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portf:hover,
.button-portf:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-flex li:not(:last-child) {
  margin-right: 8px;
}

.projects-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-type {
  font-size: 16px;
  line-height: 1.88;
}

.thumb{
  overflow: hidden;
  position: relative;
}

.portf-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.9;
  transform: translateY(101%);
  transition: transform 250ms ease;
  color: var(--primary-white-color);
  line-height: 1.56;
  font-size: 18px;
  padding: 63px 24px;
 }

.thumb:hover .portf-overlay{
  transform: translateY(0);
 }

/* flex */
.nav-flex,
.site-nav-flex,
.nav-link,
.logo {
  display: inline-block;
  align-items: center;
}

.page-header-flex,
.site-nav-flex,
.nav-flex,
.images-flex,
.benefits-flex,
.team-flex {
  display: flex;
  justify-content: space-between;
}

.nav-flex{
  align-items: center;
}

.button-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.item-flex {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-basis: calc((100% - 60px) / 3);
  margin-bottom: 30px;
  margin-right: 30px;
}

.item:nth-child(3n) {
  margin-right: 0;
}

.item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.clients-flex {
  display: flex;
  justify-content: space-between;
}

.footer-flex,
.social-midea {
  display: flex;
}